include ../../includes/mixins
include ../../includes/header-admin



section.container-fluid.container-clients

	
	div.row.row-create
		//Crear clientes
		a.btn.btn-blue((click)="toggleClass()", [class.active]="activeS")
			i.glyphicon.glyphicon-plus
			| Nuevo cliente

		article.client-create([class.active]="activeS")
			form-client([idClient]="")
		///-Crear clientes

	
	//Listado de clientes BRM
	div.row.row-client-list

		//Cliente	
		div(*ngFor="let cliente of clientes; let keyCliente = index")
			article.client.client-item
				//Logo Marca
				//- figure.marca(style="background:#")
				//- 	img((click)="goToClient(cliente.idCuenta)", src="assets/images/{{cliente.imagenCuenta}}", alt="{{cliente.nombreCuenta}}")

				//Logo Marca
				figure.client-brand([style.background-color] = 'cliente.colorCuenta',(click)="goToClient(cliente.idCuenta)")
					+image('{{cliente.imagenCuenta}}', '{{cliente.nombreCuenta}}')
				///-Logo Marca

				//Usuario por marca
				aside.client.client-user
					a.btn.btn-remove((click)="removeClient(cliente.idCuenta)"): i.glyphicon.glyphicon-remove

					h3 {{cliente.nombreCuenta}}

					div.user(*ngFor="let usuario of cliente.usuarios")
						div(*ngIf="usuario.estadoUsuario =='A'")
							p((click)="goToUserClient(usuario.idUsuario,cliente.idCuenta)")
								| {{usuario.nombreUsuario}} {{usuario.apellidoUsuario}}
								a((click)="removeUser(usuario.idUsuario)"): i.glyphicon.glyphicon-remove
						
				///-Usuario por marca
				a.btn.btn-create((click)="goToUserClient('',cliente.idCuenta)") Registrar Usuario

			div([ngClass]="{'clearfix': ((keyCliente+1) % 3) == 0}")
		
		///-Cliente

	///-Listado de clientes BRM
