include ../../includes/header-admin


section.container-fluid.container-dashboard.container-categories
	div.row
		h1 Categorías &amp; Preguntas

section.container-fluid.container-categories
	div.row
		//Categorías
		article.col-cat.col-cat-list
			div.category-header
				h2 Categorías
				button.btn.btn-default(type="button", (click)="toggleClass('activeA')", [class.active]="activeA")
					i.glyphicon.glyphicon-tag
					span Nueva Categoría

			
			//Crear categoria
			div.category-create([class.active]="activeA")
				div.form-group
					label(for="categoriaName") Nombre de la Categoría
					input(type="text", placeholder="Facturación", [(ngModel)]="categoria.nombre", id="categoriaName", name="categoriaName")

				div.form-group
					label(for="categoriaPer") Peso de la categoría (porcentaje)
					input(type="number", min="0", placeholder="10", [(ngModel)]="categoria.porcentaje", id="categoriaPer", name="categoriaPer")

				div.form-group
					label(for="comment") Descripción
					textarea.descripcion([(ngModel)]="categoria.descripcion", id="comment", placeholder="...", value="{{categoria.descripcion}}")

				button.btn.btn-submit((click)="saveCategory(categoria)")
					i.glyphicon.glyphicon-floppy-saved
					span Guardar
			///-Crear categoria
			
			ul.category-list

				li.category-item(*ngFor="let cat of categorias; let keyCategoria = index",[class.active]="cat.activo", [class.ver-preguntas]="cat.activoColor && !cat.activo", (click)="cat.activo || showQuestions(cat.id,keyCategoria)")
					div.category-control
						input([readonly]="!cat.activo", [(ngModel)]="cat.nombre", value="{{cat.nombre}}", type="text")
						a.btn-edit((click)="showEditCategory(keyCategoria)"): i.glyphicon.glyphicon-pencil
						a.btn-remove((click)="removeCategory(cat.id,keyCategoria)"): i.glyphicon.glyphicon-trash
						
						input.peso([readonly]="!cat.activo", [(ngModel)]="cat.porcentaje", value="{{cat.porcentaje}}", type="number", min="0")
						textarea.descripcion([readonly]="!cat.activo", [(ngModel)]="cat.descripcion") {{cat.descripcion}} 
						
						button.btn.btn-submit((click)="saveCategory(cat,keyCategoria)")
							i.glyphicon.glyphicon-floppy-saved
							span Guardar
							


		///-Categorías

		article.col-cat.col-q-list(*ngIf="statusPreg")

			div.category-header
				h2 Preguntas
				button.btn.btn-default(type="button", (click)="toggleClass('activeS')", [class.active]="activeS")
					i.glyphicon.glyphicon-comment
					span Nueva Pregunta
			

			div.category-create([class.active]="activeS")
				//Crear pregunta
				div.category-create-q
					div.form-group
						label(for="preguntaCrea") Pregunta:
						textarea#preguntaCrea(name="preguntaCrea", [(ngModel)]="pregunta.titulo")

					//div.form-group.form-select

						select#preguntaCat(name="preguntaCat")
							option(value="") - Categoría -
							option(value="a") Una categoría

				///-Crear pregunta
				
				//button.btn.btn-default
					i.glyphicon.glyphicon-plus
					span Añadir otra pregunta

				button.btn.btn-submit((click)="saveQuestion(pregunta)")
					i.glyphicon.glyphicon-floppy-saved
					span Guardar
			
			div.preguntas-header(*ngIf="preguntas.length > 0")
				h3 Preguntas en la categoría:
				//div.form-group.form-select
					select#catShow(name="catShow")
						option(value="") - Categoría -
						option(value="a") Una categoría
			
			ul.category-q(*ngIf="preguntas.length > 0")

				li.category-item(*ngFor="let preg of preguntas; let keyPregunta = index", [class.active]="preg.activo")
					div.category-control
						textarea([readonly]="!preg.activo", [(ngModel)]="preg.titulo") {{preg.titulo}} 
						
						a.btn-edit((click)="showEditQuestion(keyPregunta)"): i.glyphicon.glyphicon-pencil
						a.btn-remove((click)="removeQuestion(preg.id,keyPregunta)"): i.glyphicon.glyphicon-trash

						button.btn.btn-submit((click)="saveQuestion(preg,keyPregunta)")
							i.glyphicon.glyphicon-floppy-saved
							span Guardar
							